
.container {
    margin-top: 200px;
    width: 500px;
}

.panel-primary {
    margin-right: 300px;
    margin-left: 300px;
}

.form-horizontal .form-group {
    padding-right: 50px;
    padding-left: 50px;
}

.panel-body {
    text-align: center;
}

.panel-heading {
    text-align: center;
}
