{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}" />
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
</head>
<body>
<form class="form-horizontal" role="form" action="login_in" method="post">
  {% csrf_token %}
  <div class="container">
  <div class="panel panel-primary">
          <div class="panel-heading">WebChat</div>
          <div class="panel-body">Авторизация на сайте</div>
  <div class="form-group">
    <label for="inputLogin" class="col-sm-2 control-label">Логин</label>
      <div class="col-xs-10">
          <div class="input-group">
              <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
              <input type="login" class="form-control" id="inputLogin" name="inputLogin" placeholder="Логин">
          </div>
      </div>
  </div>
  <div class="form-group">
    <label for="inputPassword" class="col-sm-2 control-label">Пароль</label>
      <div class="col-xs-10">
          <div class="input-group">
              <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
              <input type="password" class="form-control" id="inputPassword" name="inputPassword" placeholder="Пароль">
          </div>
      </div>
  </div>
  <div class="form-group">
      <a href="/restore">Забыли свой пароль?</a></p>
      У вас нет аккаунта? <a href="/registration">Регистрация</a>
  </div>
  <div class="form-group">
      <div class="col-xs-offset-2 col-xs-10">
          <button type="submit" class="btn btn-labeled btn-success">
           <span class="btn-label"><i class="glyphicon glyphicon-ok"></i></span>Войти</button>
      </div>
  </div>
  </div>
  </div>
</form>
</body>
</html>